* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: center;
}

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
}

.section {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#button {
  border-radius: 20px;
  padding: 10px;
  border: none;
  box-shadow: 5px 5px grey;
  cursor: pointer;
}

#button:active {
  box-shadow: 0px;
  scale: 0.8;
}

/* Form styling */
form {
  /* padding: 10px; */
}

.task-input {
  margin: 0 auto;
  align-items: center;
  display: flex;
}

.task-input > * {
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  border-width: 1px;
}

.task-input-text {
  width: 220px;
}

.task-input-button {
  border: none;
  cursor: pointer;
  width: 100px;
}

.tasks-container {
  border-width: 1px;
  display: flex;
  margin: 10px;
}

.task {
  list-style-type: none;
  padding: 10px;
  width: 350px;
  margin: 10px;
  border: solid grey 1px;
  border-radius: 20px;
}
